#map {
  width: 100%;
  height: 100%;
  top: 0;
}
.map-wrapper {
  height: 100%;
  width: 70%;
  position: fixed;
}
#main {
  float: right;
  width: 30%;
  background-color: #fdfdfd;
}
.container {
  height: 100%;
  width: 100%;
  background-color: #fcfcfc;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

a {
  color: #006aff;
}

a:hover {
  color: #2eb657;
}

.map-location {
  padding: 10px;
  margin: 4px 0;
  background-color: #f7f7f7;
  /* border-top: 1px solid rgb(160,160,255); */
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border-radius: 4px;
}

.map-location:nth-child(odd) {
  /* background-color: #f4f4f4; */
}

.map-location:hover {
  padding: 9px;
  background-color: #fefefe;
  border: 1px solid rgba(15,15,15,0.09);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.map-location:hover > .location-title {
  color: #dd2d85;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}

.location-title {
  font-weight: 400;
}

.location-address {
  font-size: .9em;
  margin: 4px 0;
  color: #6b6b6b;
}

.map-location a {
  font-size: .8em;
}

.map-location a:hover {
  color: #2eb657;
  font-size: .8em;
}

span.search-query {
  font-weight: 400;
}

.search-message {
  margin: 10px;
}

ul.location-list {
  padding: 0 10px;
}

.search-field {
  font-size: 1em;
  padding: 8px 16px;
  margin: 10px;
  width: 60%
}

button.redo-search {
  background-color: #dd2d85;
  border: none;
  color: white;
  text-align: center;
  outline: 0;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 18px;
}

input.submit-button {
  padding: 6px 12px;
  font-size: .8em;
  color: white;
  background: #2eb657;
  border: none;
  margin-left: 10px;
}

button.redo-search:active {
  background-color: #fefefe;
  color: #dd2d85;
  padding: 5px 15px;
  border: 3px solid #dd2d85;
  outline: 0;
}

hr.separator {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.marker {
  font-size: .8em;
}

.loader {
  text-align: center;
  margin-top: 20px;
}

.loader > img {
  width: 32px;
  height: 32px;
}

.location-address.marker {
  margin: 2px 0 0 0;
}

.rating {
  font-size: .8em;
  font-weight: 400;
  padding-bottom: 5px;
}